<a href="https://colab.research.google.com/github/Arkangjela-Markaj/IBM-Data-Science-Capstone-SpaceX/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Reverse the tuple

In [1]:
tuple1=(10,20,30,40,50)

In [9]:
reversed_tuple1=tuple1[::-1]
print(reversed_tuple1)

(50, 40, 30, 20, 10)

2. Create a tuple with single item 50

In [11]:
mytuple=(50)
print(mytuple)

50

3. count the number of occurrances of item 50 from a tuple

In [12]:
tuple1=(50,10,60,70,50)

In [15]:
tuple1.count(50)

2

4. check if all items in the tuple are the same

In [16]:
tuple1=(45,45,45,45)

In [22]:
all_same=all(item==tuple1[0] for item in tuple1)
print(all_same)

True